@import '../../../../styles/variables.scss';

.upload-model {
    max-width: 1000px;    

    .model-preview {
        height: 400px;
        border: dashed $divider-color 5px;
        &:hover {

        }
        .drag-drop-text {
            color: $divider-color;
            font-size: 3em;
            &:after{
                content: "Drag and drop file here";
            }            
        }
        &.dragover {
            border-color: $accent-color;
            .drag-drop-text {
            color: $accent-color;
            font-size: 3em;
            &:after {
                content: "Upload file";
            }            
        }
        }
    }
    
    .file-name {
        text-align: center;
    }
}
